openai==1.61.0
slack-bolt==1.22.0
slack-sdk==3.34.0
langchain==0.3.17
langchain-community==0.3.16
sentence-transformers==3.4.1
cohere==5.13.11
pymilvus==2.5.4
langchain-openai==0.3.3
llama-index-core==0.12.15
llama-index-vector-stores-milvus==0.5.0
llama-index-embeddings-huggingface==0.5.1
llama-index-postprocessor-cohere-rerank==0.3.0
llama-index-llms-langchain==0.5.1
