openai==1.12.0
slack-bolt==1.18.1
slack-sdk==3.27.0
langchain==0.1.7
sentence-transformers==2.3.1
pinecone-client[grpc]==2.2.4
wandb==0.16.3
cohere==4.47
pymilvus==2.3.6
langchain-openai==0.0.6
llama-index-core==0.10.5
llama-index-readers-web==0.1.5
llama-index-callbacks-wandb==0.1.1
llama-index-readers-github==0.1.2
llama-index-vector-stores-milvus==0.1.1
llama-index-embeddings-langchain==0.1.1
llama-index-postprocessor-cohere-rerank==0.1.1
llama-index-llms-langchain==0.1.1