openai==1.10.0
slack-bolt==1.18.1
slack-sdk==3.26.2
langchain==0.1.4
sentence-transformers==2.2.2
pinecone-client[grpc]==2.2.4
wandb==0.16.2
llama-index==0.9.39
cohere==4.45
pymilvus==2.3.6
langchain-openai==0.0.5