openai
slack-bolt
slack-sdk
langchain
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
sentence-transformers
pinecone-client[grpc]==2.2.4
prefect
prefect-gcp
GitPython
pymilvus
wandb
llama-index-core
llama-index-readers-web
llama-index-callbacks-wandb
llama-index-readers-github
llama-index-vector-stores-milvus
llama-index-embeddings-langchain
llama-index-postprocessor-cohere-rerank
llama-index-llms-langchain
ipython
pipenv
cohere
trafilatura
nbconvert
prefect-docker
langchain-openai
upstash-redis
