openai==0.27.8
slack-bolt==1.18.0
slack-sdk==3.21.3
langchain==0.0.194
google-api-python-client==2.88.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
sentence-transformers==2.2.2
pinecone-client[grpc]==2.2.2
prefect==2.10.18