slack-sdk
langchain
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
sentence-transformers
prefect-gcp
GitPython
pymilvus
llama-index-core
llama-index-readers-web
llama-index-callbacks-wandb
llama-index-readers-github
llama-index-vector-stores-milvus
llama-index-embeddings-langchain
llama-index-postprocessor-cohere-rerank
llama-index-llms-langchain
trafilatura
nbconvert
ipython
upstash-redis
