slack-sdk==3.27.1
langchain==0.1.11
google-api-python-client==2.121.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
sentence-transformers==2.5.1
prefect-gcp==0.5.6
GitPython==3.1.42
pymilvus==2.3.6
llama-index-core==0.10.18.post1
llama-index-readers-web==0.1.6
llama-index-readers-github==0.1.7
llama-index-vector-stores-milvus==0.1.6
llama-index-embeddings-langchain==0.1.2
trafilatura==1.7.0
nbconvert==7.16.2
ipython==8.22.2
upstash-redis==1.0.0
jupyter-notebook-parser==0.1.4

